<h1>Editing Book</h1>
<%= form_with model:@books, url:"/books/#{@books.id}", local: true do |f| %>
  <div>
    <label>Title</label>
    <%= f.text_field :title %>
  </div>

  <div>
    <label>Body</label>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit 'Update Book' %>
  </div>

  <%= link_to "Show", book_path(@books.id) %>
   |
  <%= link_to "Back", books_path %>
<% end %>