
  <h1 class="heading">
    Books
  </h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>
    </thead>
    <% @books.each do |book| %>
      <p><%= book.title %></p>
      <span><%= book.body %></span>
      <%= link_to "Show", book_path(book.id) %>
      <%= link_to "Edit", edit_book_path(book.id) %>
      <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
    <% end %>
  </table>

  <h2>New book</h2>
  <%= form_with model: @books, url:"/books", local:true do |f| %>

    <p>title</p>
    <%= f.text_field :title %>
    <p>body</p>
    <%= f.text_area :body %>
    <%= f.submit "create book" %>
  <% end %>

